@model IEnumerable<NorthwindWebApp.Models.Customers>


@{
    ViewBag.Title = "Index";
}
@section scripts {

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".näytäTilauksetNappi").click(function () {

                //onko plus-tyyli käytössä
                var openMode = $(this).hasClass("glyphicon-plus");
                if (openMode === true) {
                    //ladataan tämän asiakkaan tilaukset

                    alert("Nappia painettu!");

                    //this viittaa siihen elementtiin mitä on klikattu
                    //pyydetään klikatulta elementiltä data-atribuutin arvoa jonka nimi on customerid
                    //palauttaa kyseisen asiakkaan idnimen
                    var customerId = $(this).data("customerid");
                    // var p1 = $(this).parent();
                    //alert(customerId);

                    //näytetään piilotettu teksti lohkona
                    $("#orders_" + customerId).css("display", "block");

                    //url-muodostus johon mitä halutaan-pyyntö lähetetään
                    var url = "/customer/getorders/" + customerId;

                    //otetaan spanElementti talteen, jolloin sitä voidaan käyttää myöhemmin
                    var spanElement = this;

                    //ajax-pyyntö yläpuoliseen osoitteeseen
                    $.ajax(url).done(function (data) {
                        // alert("Palvelimelta tuli vastaus");

                        var orderData = "";

                        for (var i = 0; i < data.length; i++) {
                            orderData += ((i + 1) + ": " + data[i].OrderId + " " +
                                data[i].OrderDate + " " + data[i].CustomerId + "\r\n");
                        }
                        //näytetään käyttäjälle palvelimelta haetut tiedot
                        $("#OrderText_" + customerId).html("<pre>" + orderData + "</pre>");

                        //kun data ladattu, poistetaan +merkki ja lisätään -merkki tilalle
                        //spanElement viittaa ylemmän tason funktion this-elementtiin
                        $(spanElement).removeClass("glyphicon-plus");
                        $(spanElement).addClass("glyphicon-minus");


                    });
                }
                else {
                    //poistetaan minus ja lisätään plus
                    //voidaan käyttää this-elemettiä koska ei olla ajax-funktion sisällä
                    //vaan sitä edeltäneen funktion, missä this määritelty
                    $(this).removeClass("glyphicon-minus");
                    $(this).addClass("glyphicon-plus");

                    //piilotetaan esiintuotu rivi
                    customerId = $(this).data("customerid");
                    $("#orders_" + customerId).css("display", "none");
                }

            });
        });
    </script>

}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="#"><span data-customerid="@Html.DisplayFor(modelItem => item.CustomerID)" class="glypchicon glyphicon-plus näytäTilauksetNappi"></span></a>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        //alussa piilossa oleva teksti (ennen klikkausta)
        <tr style="display: none;" id="orders_@Html.DisplayFor(modelItem => item.CustomerID)">
            <td>&nbsp;</td>
            <td colspan="5" id="orderText_@Html.DisplayFor(modelItem => item.CustomerID)"><pre>Loading...</pre></td>
        </tr>
    }

</table>
